@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

nav {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10;
}

nav p{
    font-family: rock salt;
    color: #32CD32;
    line-height: 50px;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0px;
    margin: 0px;
    gap: 30px;
    color: white;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: #32CD32;
}

.active a {
    color: #32CD32;
}